# Terraform
.terraform/
.terraform.lock.hcl
terraform.exe

# Terraform state
*.tfstate
*.tfstate.*
*.zip
*.tfplan

# Variable files
*.auto.tfvars
secrets.auto.tfvars
secrets.auto.tfvars.*

# Local credentials/secrets
aws-credentials/
aws-credentials.txt

# IDE
.vscode/
.idea/

# Python
__pycache__/
*.pyc

# Scanner local artifacts
scanner/.scanner-work/

# OS
.DS_Store
Thumbs.db
